/// mixin to create line as a decoration under heading
/// 
/// @params{$bottom , $left}
/// 
/// $bottom to determine position from the bottom of the parent
/// $left to determine position from the left of the parent
/// 
/// 


@mixin create_line ($bottom , $left){
    content: "";
    position: absolute;
    width:50px;
    height:3px;
    border-radius: 2px;
    background-color: $chief-color;
    bottom: $bottom;
    left: $left;
    transform: translateX(-50%);
}

/// for smooth scaling of element on hovering
/// 
/// @params{$el}
/// 
/// $el => for the element to apply this style 


@mixin scale_obj ($el){
    .#{$el}:hover{
        transform: scale(1.05);
    }
}