/* --unnamed-color-fafafa: #FAFAFA;
--unnamed-color-e9e9e9: #E9E9E9;
--unnamed-color-f8fafc: #F8FAFC;
--unnamed-color-fcbf29: #FCBF29;
--unnamed-color-1eaaad: #1EAAAD;
--unnamed-color-8f8f8f: #8F8F8F;
--unnamed-color-37383b: #37383B;
--unnamed-color-02385a: #02385A; */
$chief-color :#1EAAAD;
$subchief :#02385A;
$btns-bg : #E9E9E9;
$links :#8F8F8F;
$golden : #FCBF29;


// fonts
$cairo : '"Cairo", sans-serif';
$messiri : 'El Messiri', sans-serif;